.dialogBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dialogBackground > div {
    width: 600px;
    display: flex;
    flex-direction: column;
    /* height: 60vh; */
}